html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(../images/bg-desktop.svg) var(--violet) no-repeat;
    background-size: cover;
}

.header img {
    width: 200px;
    margin: 40px;
}

.main {
    display: flex;
}